
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
  }

body {
        margin: 0;
        font-family: 'Share Tech', sans-serif;
        font-size:16px;
        color: #505050;
        overflow-x:hidden;
    }
    
    main {
        position:relative;
        opacity: 1; margin-top: 0px;
        padding:7vh 0 10vh;
        opacity:0;
        margin-top:-5px;
     
    }
    
    @media all and (min-width:670px) {
        main { 
            width: 570px;
            margin-left: 10vw;
        }
    }
    
    @media all and (max-width:670px) {
        main { margin:0 15px }
    }
    
    .wave {
        width:100vw;
        height:150px;
        position:fixed;
        bottom:0;
        fill:#1b7477;
        z-index:-1;
    }
    
    #one {
        height:180px;
        fill:#8adbd3;
        width:120vw;
        left:-10vw;
    }
    
    h1, h2 {
        position:relative;
        display:flex;
        align-items:center;
        font-family:'Share Tech Mono', monospace;
        line-height: 1em;
        word-spacing:-.1em;
        letter-spacing:-.05em;
        transition:.2s all ease;
        margin-left:10px;
        margin-bottom:15px;
    }
    
    h1 span, h2 span { 
        background:rgba(238,238,238,.7);
        padding:5px 7px;
        border-radius:10px;
        box-sizing:border-box;
    }
    h1, h2:active { color:#51b5ac; }
    h1 { font-size:2.2em }
    h2 { cursor:pointer }
    p:first-child { margin-top:0 }
    p:last-child { margin-bottom:0 }
    
    .subtext {
        position:relative;
        border-radius:10px;
        background: white;
        border:1px solid;
        padding:13px;
        line-height:1.5em;
        float: left;
        
    }
    
    .subtext:not(#main) {
        display:none;
    }
    
    .subtext ul { margin:0; padding:0 25px; }
    
    .subtext a { 
        color:#0a9; 
        text-decoration:underline;
        cursor:pointer;
        transition:.2s all ease;
    }
    
    .subtext a:hover, h2:hover {
        color:rgb(230, 53, 53);
    }
    
    .subtext:before {
        content:'';
        position:absolute;
        width:1px;
        background:#bbb;
        left:1.2em;
        height:1.2em;
        top:calc(-1.2em - 1px);
    }
    
    .subtext.coll:before {
        left:1em;
        height:1.2em;
        top:calc(-1.2em - 1px);
    }
    
    .hex:hover {
        transform:rotate(30deg);
    }
    
    .hex, .hex:before, .hex:after {
        height:1em;
        width:.59em;
        border:solid;
        border-width:1px 0;
        border-radius:2px;
        box-sizing:border-box;
    }
    
    main .hex { 
        position:relative;
        display:inline-block;
        margin-right:.5em;
        transition:.4s all ease;
      
    }
    
    .hex:before, .hex:after {
        content:'';
        position:absolute;
        margin-top:-1px;
        margin: left 0;;
    /*     color:#ccc; */
    }
    
    .hex:before { transform:rotate(60deg); }
    .hex:after { transform:rotate(-60deg); }
    
    .hex, .hex:before, .hex:after, .subtext {
        border-color:#bbb;
    }
    
    .hex.moved {
        transform:rotate(30deg);
    }
    
    #hex-holder {
        position:fixed;
        height:100vh;
        width:100vw;
        top:0;
        z-index:-1;
        pointer-events:none;
        font-size:60px;
    }
    
    #hex-holder .hex {
        position:fixed;
    }
    
    #uno {
        border-radius:4px;
        border:none;
        background:#118385;
        transform:rotate(-12deg);
        bottom:30vh;
        left:30px;
    }
    
    #uno:before, #uno:after {
        margin-top:0;
    }
    
    #hex-holder .hex:before, #hex-holder .hex:after {
        border:inherit;
        border-radius:inherit;
        background:inherit;
    }
    
    #dos {
        border-color:#c3e91b;
        border-radius:3px;
        border-width:5px 0;
        font-size:100px;
        bottom:12vh;
        right:-20px;
        transform:rotate(7deg);
    }
    
    #dos:before, #dos:after {
        margin-top:-5px;
    }
    
    #tres { display:none }
    
    #bg {
    /*     z-index:100; */
        position:fixed;
        top:0;
        height:100vh;
        width:100vw;
        box-sizing:border-box;
        border:5px solid black;
    }

    .card-title {
   
        color: var(--bs-white);
        line-height : 25px;
        text-align: center;
        font-size: 18px;
        padding: 30px;
        font-size: 30;
        color: var(--bs-gray-100);
        text-align: justify;
    }
 
    .capitalLetter{
   float:left;
   color:white;
   font-size:80px;
   line-height:60px;
   padding:2px;
   font-family:times;
   margin-right: 5px;
}
.tabulacion:first-letter {
	margin-left: 15px;
}
.img-evento{
    display: flex;
	width: 15%;
	height: 25%;
    border-radius: 45%;
}
